mixin test()

    +b('section').test()
        +e(href="https://www.woman.ru/").logo
            img(src="/images/logo.svg")
        +e.number
        +e.picture
        +e.wrap
            +e('p').title
                +e('ul').list
                    +e('li').item(data-id='А')
                        +e.sign
                            img(src="/images/sign mobail.png")
                        +e.check
                            img(src="/images/check.svg")
                        +e('p').answer-text
                    +e('li').item(data-id='Б')
                        +e.sign
                            img(src="/images/sign mobail.png")
                        +e.check
                            img(src="/images/check.svg")
                        +e('p').answer-text  
                    +e('li').item(data-id='В')
                        +e.sign
                            img(src="/images/sign mobail.png")
                        +e.check
                            img(src="/images/check.svg")
                        +e('p').answer-text
                    +e('li').item(data-id='Г')
                        +e.sign
                            img(src="/images/sign mobail.png")
                        +e.check
                            img(src="/images/check.svg")
                        +e('p').answer-text
                    +e('li').item(data-id='Д')
                        +e.sign
                            img(src="/images/sign mobail.png") 
                        +e.check
                            img(src="/images/check.svg")
                        +e('p').answer-text
                    +e('li').item(data-id='Ё')
                        +e.sign
                            img(src="/images/sign mobail.png")
                        +e.check
                            img(src="/images/check.svg")
                        +e('p').answer-text 
                    +e('li').item(data-id='Ж')
                        +e.sign
                            img(src="/images/sign mobail.png")
                        +e.check
                            img(src="/images/check.svg")
                        +e('p').answer-text
                    +e('li').item(data-id='З')
                        +e.sign
                            img(src="/images/sign mobail.png")
                        +e.check
                            img(src="/images/check.svg")
                        +e('p').answer-text 
                    +e('li').item(data-id='И')
                        +e.sign
                            img(src="/images/sign mobail.png")
                        +e.check
                            img(src="/images/check.svg")
                        +e('p').answer-text