mixin footer ()

    +b('section').footer
        +e.logo(href='https://www.woman.ru/')
            img(src="/images/logo.svg")
        +e.picture
            img(src="/images/footer.svg")
        +e.content
                +e('p').heading Больше идей
                +e('p').text Ищите что-то оригинальнее? В&nbsp;Москве доступны выездные площадки, на&nbsp;которых можно зарегистрировать брак&nbsp;&mdash; красивых и&nbsp;необычных мест уже более 30. Например, белоснежные залы особняка Royal на&nbsp;Малой Ордынке наполнены духом аристократизма, массивные люстры, панорамные окна и&nbsp;лепнина создают торжественную атмосферу&nbsp;&mdash; идеальное место для регистрации брака., в&nbsp;камерном особняке Спиридонова 1895 года с&nbsp;белыми залами, в&nbsp;которых бывали Блок, Брюсов, Горький. Узаконить отношения можно в&nbsp;зале самой высокой башни в&nbsp;Европе и&nbsp;Азии&nbsp;&mdash; в&nbsp;Останкинской телебашне. Пожениться с&nbsp;видом на&nbsp;Кремль и&nbsp;Красную площадь можно в&nbsp;гостинице &laquo;Националь&raquo; на&nbsp;Моховой улице. Усадьбы, отели, лофты и&nbsp;дома торжеств, а&nbsp;также гостиницы распахнули свои двери для молодоженов. Торжественную церемонию можно провести в&nbsp;&laquo;Москвариуме&raquo;, в&nbsp;здании Центрального московского ипподрома или в&nbsp;стильном ресторане &laquo;Карлсон&raquo; на&nbsp;летней веранде. На&nbsp;живописном берегу Москвы-реки провести торжественную церемонию бракосочетания можно в&nbsp;особняке в&nbsp;Серебряном бору.<br><br> Свадьба должна быть особенной и&nbsp;отражать ваше настроение, поэтому площадка&nbsp;&mdash; часть антуража. Можно выбрать интересное место, исходя из&nbsp;формата, количества гостей, индивидуальных предпочтений или подобрать под наряды жениха и&nbsp;невесты&nbsp;&mdash; не&nbsp;ограничивайте себя ни&nbsp;в&nbsp;чем!
                +e('p').addition Госпошлина остается прежней&nbsp;&mdash; 350&nbsp;рублей.
        +e.below
            +e('p').signature <a href="https://www.mos.ru/city/projects/svadba/">Больше вариантов для торжественной церемонии смотрите <br> в&nbsp;проекте Мэра Москвы &laquo;Новые адреса счастья&raquo;!</a>
            